{{ form_start(registrationForm) }}
{{ form_errors(registrationForm) }}
{{ form_widget(registrationForm._token) }}
{{ form_errors(form.username) }}
{{ form_errors(form.email) }}
{{ form_errors(form.plainPassword.first) }}
{{ form_errors(form.plainPassword.second) }}

<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-user"></i></span>
    </div>
    {{ form_widget(registrationForm.username, {'attr': {'placeholder': 'Votre pseudo'}}) }}
</div>
<!-- form-group// -->
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
    </div>
    {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Votre email'}}) }}
</div>
<!-- form-group// -->
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-key"></i></span>
    </div>
    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'placeholder': 'Votre mot de passe'}}) }}
</div>
<!-- form-group// -->
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-key"></i></span>
    </div>
    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'placeholder': 'Répétez votre mot de passe'}}) }}
</div>
<!-- form-group// -->
<button class="btn btn-primary btn-block btnSubmitRegister">S'enregistrer</button>
{{ form_end(registrationForm)}}