{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_widget(form._token) }}
<!-- form-group// -->
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-key"></i></span>
    </div>
    {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Votre mot de passe'}}) }}
</div>
<!-- form-group// -->
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-key"></i></span>
    </div>
    {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Répétez votre mot de passe'}}) }}
</div>
<!-- form-group// -->
<button class="btn btn-primary btn-block btnSubmitRegister">Valider</button>
{{ form_end(form)}}