<div id="navbar-top">
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed">
        <div class="container">
            <a class="navbar-brand nav-link" href="/">Snowtricks</a>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav ml-auto">
                    {% if is_granted("ROLE_USER") and user is defined %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="https://www.jeromesauvage.fr"
                               id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ asset(avatar.path) }}" class="img-circle" alt="">
                                Jérôme Sauvage
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
                                <a class="dropdown-item" href="{{ path('mon-compte') }}">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    Mon compte
                                </a>
								 <a class="dropdown-item" href="{{ path('contact') }}">
                                    <i class="fa fa-envelope-open" aria-hidden="true"></i>
                                    Contact
                                </a>
                                <a class="dropdown-item" href="{{ path('security_logout') }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    Se déconnecter
                                </a>
                            </div>
                        </li>
                        {% elseif is_granted("ROLE_USER") and user is not defined %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="https://www.jeromesauvage.fr"
                                   id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Jérôme Sauvage
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
                                    <a class="dropdown-item" href="{{ path('mon-compte') }}">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        Mon compte
                                    </a>
                                    <a class="dropdown-item" href="{{ path('contact') }}">
                                        <i class="fa fa-envelope-open" aria-hidden="true"></i>
                                        Contact
                                    </a>
                                    <a class="dropdown-item" href="{{ path('security_logout') }}">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        Se déconnecter
                                    </a>
                                </div>
                            </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_register') }}">S'enregistrer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_login') }}">Se connecter</a>
                        </li>
						 <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                        </li>
                    {% endif %}
                    <!--<li class="nav-item">
                        <a class="nav-link" href="#clients">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</div>