{% extends "base.html.twig" %}

{% block title %}Snowtrick / Accueil{% endblock %}

{% block body %}

    <div id="home" class="jumbotron text-center">
        <h1 class="jumbotron-heading display-3">Les meilleurs tricks</h1>
        <p><a class="btn btn-primary btn-lg" href="#tricks" role="button">Voir les tricks &raquo;</a></p>
    </div>
    <div class="container-fluid album py-5 bg-light">
        <div class="row" id="tricks">
            {{ include("trick/list.html.twig", { tricks: tricks }) }}
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <button class="btn btn-info" id="load-more">Load more</button>
                {% if is_granted("ROLE_USER") %}
                    <a href="{{ path("trick_add") }}" class="btn btn-primary">Ajouter un trick</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="scrollUp">
        <a href="#top"><img src="images/to_top.png"/></a>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/load_more.js') }}"></script>
    <script src="{{ asset('js/scroll.js') }}"></script>

{% endblock %}