<div class="row">
    <div class="col-lg-12 col-md-12 d-block mx-auto">
        <div class="card" id="picture-{{ form.vars.name }}">
            {% if form.vars.data is not null %}
                <img src="{{ asset(form.vars.data.path ) }}">
            {% endif %}
            <div id="picture-{{ form.vars.name }}" class='card-body p-0 picture-preview' data-input="{{ form.uploadedFile.vars.id }}"></div>
            <div class="card-body">
                <div class="form-group">
                    <label>Ajouter une image secondaire :</label>
                    {{ form_widget(form.alt, {'attr': {'placeholder': 'Modifier le texte alternatif'}}) }}
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-danger remove-picture" data-target="#picture-{{ form.vars.name }}">
                    <span class="fa fa-times"></span>
                </button>
                {{ form_widget(form.uploadedFile, {'attr': {'placeholder': 'Modifier l\'image secondaire', 'class': 'img-upload'}}) }}
                <label for="{{ form.uploadedFile.vars.id }}"  class="btn btn-primary m-0">
                    <span class="fa fa-upload"></span>
                </label>
            </div>
        </div>
    </div>
</div>
<br>
<script src="{{ asset('js/input_custom_file.js') }}"></script>