
{% for trick in tricks %}
    <div class="col-12 col-md-8 col-lg-4 my-4">
    <div class="card-group">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ asset(trick.pictureOnFront.path) }}" alt="{{ trick.pictureOnFront.alt }}">
            <div class="card-body">
                <h5 class="card-title">{{ trick.name }}</h5>
                <span>{{ trick.author.username }}</span>
                <p class="card-text"><small class="text-muted">{{ trick.publishedAt|date("d/m/Y") }}</small></p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a href="{{ path("trick_show", { id: trick.id }) }}" class="btn btn-info">PLus d'infos</a>
                {% if is_granted("ROLE_USER") %}
                    <a href="{{ path("trick_update", { id: trick.id }) }}" class="btn btn-warning">Modifier</a>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endfor %}