{% extends "base.html.twig" %}
{% block title %}Détail{% endblock %}
{% block body %}
    <div class="container py-5">
        <h1 class="my-4">{{ trick.name }} / {{ trick.category.name }}</h1>
        <div class="row py-5 mx-auto" style="width: 350px;">
            {% if trick.pictureOnFront is not null %}
                <img class="card-img-top" src="{{ asset(trick.pictureOnFront.path) }}" alt="{{ trick.pictureOnFront.alt }}">
            {% else %}
                <img class="card-img-top" src="{{ asset('images/image.png') }}" alt="">
            {% endif %}
        </div>
        <div class="row py-5">
            {% for picture in trick.pictures %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ asset(picture.path) }}" alt="{{ picture.alt }}">
                        <div class="card-body">
                            <h4 class="card-title"></h4>
                            <p class="card-text">{{ picture.alt }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ asset(picture.path) }}" class="btn btn-primary">Voir l'image</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row py-5">
            {% for video in trick.videos %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <iframe width="100%" height="100%" src="{{ video.url }}"
                                frameborder="0"
                                allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row py-5">
            <div class="jumbotron my-4">

                <p class="lead">{{ trick.description|nl2br }}</p>
                <p>Posté le
                    {{ trick.publishedAt|date("d/m/Y") }}
                    par
                    {{ trick.author.username }}
                </p>
            </div>
        </div>
        {% if is_granted("ROLE_USER") %}
            {{ form_start(form) }}
            {{ form_widget(form._token) }}
            {{ form_rest(form) }}
            <button class="btn btn-success">Envoyer</button>
            {{ form_end(form) }}
        {% endif %}
        <div class="card card-outline-secondary my-4"  id="comments">
            <div class="card-header">
                Toutes les commentaires
            </div>
            {% for comment in comments %}
                <div class="card-body">
                    <small class="text-muted">
                        {% if comment.author.avatar is not null%}
                            <img src="{{ asset(comment.author.avatar.path) }}" class="img-circle" alt="{{ asset(comment.author.avatar.alt) }}">
                        {% else %}
                            <img src="{{ asset('images/avatar.png') }}" class="img-circle" alt="">
                        {% endif %}
                        {{ comment.author.username }}
                        {{ comment.publishedAt|date("d/m/Y H:i") }}
                    </small>
                    <br/>
                    <p>{{ comment.content|nl2br }}</p>
                    <hr>
                </div>
            {% endfor %}
        </div>
        {% if pagination.pages > 1 %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if pagination.page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path("trick_show", { 'slug': trick.slug, page: pagination.page - 1 }) }}">
                                Previous
                            </a>
                        </li>
                    {% endif %}
                    {% for page in pagination.range %}
                        <li class="page-item {{ pagination.page == page ? "active" : "" }}">
                            <a class="page-link" href="{{ path("trick_show", { 'slug': trick.slug, page: page }) }}">
                                {{ page }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if pagination.page < pagination.pages %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path("trick_show", { 'slug': trick.slug, page: pagination.page + 1 }) }}">
                                Next
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
        <div class="form-group d-flex justify-content-between">
            <a href="{{ path("home") }}" class="btn btn-primary float-left">Accueil</a>
            {% if is_granted("ROLE_USER") %}
                <a href="{{ path("trick_add") }}" class="btn btn-primary">Ajouter un trick</a>
                <a href="{{ path("trick_update", { 'slug': trick.slug }) }}" class="btn btn-warning float-right">Modifier</a>
            {% endif %}
        </div>
    </div>
{% endblock %}