{% extends "base.html.twig" %}

{% block body %}

    <div class="container my-5">
            <div class="col-12">
                <div class="bg-light addtrick">
                    <div class="card">
                        <div class="card-body">
                            <h3>Modifier le trick</h3>
                            {{ include("trick/_form.html.twig", { form: form }) }}
                            {{ include('trick/_delete.html.twig', { trick: form.vars.data }) }}
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/picture_button.js') }}"></script>
    <script src="{{ asset('js/video_button.js') }}"></script>
    <script src="{{ asset('js/input_custom_file.js') }}"></script>
    <script src="{{ asset('js/picture_add_button.js') }}"></script>

{% endblock %}