{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_widget(form._token) }}
<div class="col-6 d-block mx-auto">
    <div id="picture-0" class="card">
        <div id="pictures_avatar"  class='card-body mt-1 d-block mx-auto p-0 picture-avatar-preview' data-input="avatar_avatar_uploadedFile"></div>
        <div class="card-body">
            <div class="form-group">
                <label>Texte alternatif :</label>
                {{ form_widget(form.avatar.alt, {'attr': {'placeholder': 'Texte alternatif'}}) }}
            </div>
        </div>
        <div class="card-footer">
            {{ form_widget(form.avatar.uploadedFile, {'attr': {'placeholder': 'Modifie ton avatar', 'class': 'img-upload'}}) }}
            <label for="avatar_avatar_uploadedFile"  class="btn btn-primary m-0">
                <span class="fa fa-upload"></span>
            </label>
        </div>
    </div>
</div>

<div class="form-group mb-3 d-flex justify-content-between">
    <a href="/" class="btn btn-secondary float-left">Accueil</a>
    <button type="submit" class="btn btn-success float-right">Modifier</button>
</div>

{{ form_end(form, { render_rest: false }) }}