{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form._token) }}
    {{ dump(form) }}
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-font"></i></span>
    </div>
    {{ form_widget(form.avatar) }}
</div>

<div class="form-group d-flex justify-content-between">
    <a href="/" class="btn btn-secondary float-left">Accueil</a>
    <button type="submit" class="btn btn-success float-right">Modifier</button>
</div>
{{ form_end(form, { render_rest: false }) }}