{% extends "base.html.twig" %}
{% block title %}Snowtrick / Mon profil{% endblock %}
{% block body %}
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <div class="bg-light update-avatar">
                    <div class="card">
                        <div class="card-body">
                            <h3>Modifie ton  avatar {{ app.user.username }}</h3>
                            <div class="card-title">
                                <div class="col-md-3">
                                    {% if app.user.avatar is not null%}
                                        <p class="card-title">Votre avatar actuel</p>
                                        <img src="{{ asset(app.user.avatar.path) }}" class="img-circle" alt="{{ asset(app.user.avatar.alt) }}">
                                    {% else %}
                                        <img src="{{ asset('images/avatar.png') }}" class="img-circle" alt="">
                                    {% endif %}
                                </div>
                            </div>
                            {{ include("user/_form_profile.html.twig", { form: form }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/input_custom_file.js') }}"></script>
    <script src="{{ asset('js/avatar_add_button.js') }}"></script>
{% endblock %}